---
layout: base.njk
title: Guestbook
---

<div class="static-page under-construction">
    <div class="construction-zone">
        <p class="construction-icon">🚧 🏗️ 👷 🚧</p>
        <h1>UNDER CONSTRUCTION</h1>
        <p class="construction-icon">🚧 🏗️ 👷 🚧</p>
    </div>

    <div class="construction-message">
        <p>Sorry, our guestbook is currently being renovated!</p>
        <p>Our webmaster is working hard to bring you the best guestbook experience on the World Wide Web!</p>
        <p class="check-back">Check back soon!!!</p>
    </div>

    <div class="construction-graphic">
        <pre>
     _______
    |.----.|
    ||    ||
    ||    ||
    |'----'|
   _`)    (`_
  (____)(____)

  PARDON OUR
    DUST!
        </pre>
    </div>

    <div class="construction-info">
        <p>In the meantime, why not:</p>
        <ul>
            <li>Add us to your bookmarks!</li>
            <li>Tell your friends about our site!</li>
            <li>Set us as your homepage!</li>
            <li>Sign up for our webring! (coming soon)</li>
        </ul>
    </div>

    <p class="counter-text">You are visitor #<span class="visitor-count">0038472</span> to this page!</p>

    <p class="email-webmaster">Questions? Email the webmaster: <span class="fake-email">webmaster [at] slopbucket [dot] blog</span></p>
</div>
