<footer class="footer">
    <p>Copyright 1997-2026 Slop Bucket Media Inc. All Rights Reserved.</p>
    <hr>
    <p><a href="/">Home</a> | <a href="#">Sitemap</a> | <a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="#">Advertise</a></p>
    <p class="tagline">For Entertainment Purposes Only. Any Resemblance to Actual Journalism is Coincidental.</p>
    <p style="margin-top: 6px;">Best viewed at 800x600 with 256 colors</p>
</footer>
