<header class="site-header">
    <h1><a href="/" style="color: inherit; text-decoration: none;">SLOP BUCKET</a></h1>
    <p>Your Premier Destination for Thought Leadership</p>
</header>

<div class="hot-news-strip">
    <span class="blink-text">!!! HOT NEWS !!!</span>
    <span>Study Finds Thing You Already Believe - </span>
    <a href="#">READ MORE</a>
</div>
