<aside class="sidebar" aria-label="Sidebar">
    <div class="sidebar-box">
        <h3>Sections</h3>
        <ul>
            <li><a href="/news/">News</a></li>
            <li><a href="/business/">Business</a></li>
            <li><a href="/opinion/">Opinion</a></li>
            <li><a href="/life-culture/">Life & Culture</a></li>
            <li><a href="/tech/">Tech</a></li>
        </ul>
    </div>

    <div class="sidebar-box">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/archive/">Archives</a></li>
            <li><a href="/tags/">Browse Tags</a></li>
            <li><a href="/about/">About Us</a></li>
        </ul>
    </div>

    <div class="counter-box">
        <p>YOU ARE VISITOR:</p>
        <div class="count">0038472</div>
    </div>

    <a href="/guestbook/" class="guestbook-btn">SIGN OUR GUESTBOOK!</a>

    <div class="awards-box">
        <span>[Best of Web 97]</span>
        <span>[Cool Site Award]</span>
        <span>[Top 5% of Web]</span>
    </div>
</aside>
