<aside class="sidebar" aria-label="Sidebar">
    <div class="sidebar-box">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">Submit Story</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="sidebar-box">
        <h3>Hot Topics</h3>
        <ul>
            <li><a href="#">#GandalfGate</a></li>
            <li><a href="#">#SourdoughIPO</a></li>
            <li><a href="#">#LocalManOpinion</a></li>
            <li><a href="#">#SourcesSay</a></li>
        </ul>
    </div>

    <div class="counter-box">
        <p>YOU ARE VISITOR:</p>
        <div class="count">0038472</div>
    </div>

    <a href="#" class="guestbook-btn">SIGN OUR GUESTBOOK!</a>

    <div class="awards-box">
        <span>[Best of Web 97]</span>
        <span>[Cool Site Award]</span>
        <span>[Top 5% of Web]</span>
    </div>
</aside>
